node_modules/
.idea/
package-lock.json
**.DS_Store
.yo-rc.json
.vscode
public/dist
demo/public/dist
public/dist
public/css/core/index.scss
public/css/theme/index.scss
storybook/node_modules
out*
coverage