body {
  background: #f4f5f6;
  font-family: Barlow, sans-serif;
}

.UNX-header__container {
  padding-left: 100px;
  padding-right: 100px;
}

.UNX-header__logo {
  width: 140px;
  background: url(https://libraries.unbxdapi.com/sdk-assets/images/logo.svg);
  background-size: 100%;
  background-repeat: no-repeat;
  height: 35px;
  display: inline-block;
}

.UNX-header__container {
  background: #f6f6f6;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.08);
  border: 1px solid #dae1e9;
  display: flex;
  align-items: center;
}

.UNX-header__search {
  width: 60%;
  padding: 15px 0;
  margin: 0 auto;
}

.UNX-search__container {
  position: relative;
  margin: 0 40px;
}

.UNX-searchResults__container {
  margin-bottom: 35px;
  display: flex;
}

.UNX-searchFacet__container,
.UNX-searchResult__container {
  background-color: #fff;
}

.UNX-searchFacet__container {
  padding: 15px 21px;
  margin-right: 35px;
  border-radius: 5px;
  width: 24%;
}

.UNX-searchResult__container {
  padding: 12px 18px;
  border-radius: 5px;
  flex: 1;
  height: 100%;
}

.UNX-searchHeader__container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.UNX-searchMeta__container {
  margin: 15px 0;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.UNX-searchMeta__more {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}

.UNX-searchFacet__mainHeader {
  font-size: 20px;
  font-weight: 400;
  color: #0a0b0c;
  padding-bottom: 15px;
  margin-bottom: 15px;
  border-bottom: 1px solid #e7e7e7;
}

.UNX-facet__headerContainer {
  display: flex;
  justify-content: space-between;
  align-items: baseline;

  .UNX-facet__header {
    font-size: 16px;
    font-weight: 400;
    color: #0a0b0c;
    padding-bottom: 15px;
  }

  .-clear {
    font-size: 12px;
    padding: 0;
  }
}

.UNX-facet__item {
  color: #282c3f;
  cursor: pointer;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
  text-transform: capitalize;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-weight: 100;
  margin-bottom: 12px;

  .-checkbox {
    background: #fff;
    border: 1px solid #c3c2c9;
    border-radius: 2px;
    box-sizing: border-box;
    height: 16px;
    width: 16px;
    position: relative;
  }

  &.selected {
    .-checkbox {
      background-color: #1d2e44;
      border: 0;
    }
    .-checkbox::after {
      border: 2px solid #fff;
      border-right-style: none;
      border-top-style: none;
      content: '';
      height: 5px;
      left: 4px;
      position: absolute;
      top: 4px;
      -webkit-transform: rotate(-45deg);
      transform: rotate(-45deg);
      width: 9px;
      z-index: 1;
    }
  }

  .-label {
    padding-left: 6px;
    max-width: 80%;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .-count {
    color: #a7a7a7;
    font-size: 14px;
    padding-left: 6px;
  }
}

.UNX-categoryLinks__container {
  margin:0 40px;

  .topnav {
    overflow: hidden;
    background-color: #687d88;
    margin-top: 20px;
  }
  
  .topnav div {
    float: left;
    color: #000000;
    background-color: #cdd5d9;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .topnav div:hover {
    background-color: #ddd;
    color: black;
  }
  
  .topnav div.active {
    background-color: #1d2e44;
    color: white;
  }
} 