.UNX-spellCheck__list{

    color: #5c656a;
    font-size: 14px;
    text-transform: uppercase;
    padding: 4px 0;
    font-weight: 600
}

.UNX-spellCheck__item{

    .-suggestion{
        text-transform: uppercase;
    }
}