@tailwind base;
@tailwind components;
@tailwind utilities;


.test {
    background: red;
}

.UNX-searchResult__container {
    background: black;
}

.test2 {
    background: black;
}

.abc {
    background: black;
}

@import './modules.scss';
