.UNX-facetActions__container {
    display: flex;
    justify-content: space-between;

    .-apply,
    .-clear {
        background-color: #e1e6e9;
        border-radius: 25px;
        color: #717989;
        width: 80px;
        height: 33px;
    }
}
