.UNX-pageNavigation__container{
    display: flex;
    justify-content: flex-end;
    font-size: 14px;

    .UNX-pageNavigation__button{

        padding: 3px 10px;
        margin: 0 5px;

        &.-active{
            background-color: #1d2e44;
            color: #fff
        }

        &.-action{
            background: #ddd;
            border-radius: 3px;
            color: #837a7a
        }
    }
}
