.UNX-products__list {
    &.-list {
        .UNX-productCard__container {
            display: flex;
            flex-direction: row;

            .UNX-product-card {
                flex: 0.4;
            }
            .-details {
                flex: 0.6;
                min-width: 0;
            }
        }
    }
}

.UNX-productCard__container {
    a {
        text-decoration: none;

        .-image {
            height: 290px;
            object-fit: contain;
            max-width: 100%;
        }
    }
    position: relative;

    .-title {
        color: #0a0b0c;
        font-size: 16px;
        font-weight: 600;
        overflow: hidden;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        margin-bottom: 10px;
    }

    .-details {
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    .-price {
        color: #0a0b0c;
        font-size: 14px;
        font-weight: 600;
        white-space: nowrap;

        .-strike {
            color: #e75178;
            font-size: 14px;
            text-decoration: line-through;
            display: inline-block;
            margin-left: 10px;
        }
    }
}
