.UNX-rangefacet__container {
    width: 100%;
    display: block;
    .UNX-facet__element {
        cursor: pointer;
        transition: 0.4s;
        display: flex;
        flex-direction: column;

        &.open {
            .UNX-facet__actions {
                display: flex;
                flex-direction: row-reverse;
                justify-content: space-between;
            }
        }
    }

    .UNX-facet__actions {
        display: none;
    }
}
