.UNX-selectedFacets__container{
    display: flex;
    align-items: baseline;

    .-label{
        color: #333;
        font-size: 15px;
    }

    .UNX-selectedFacets__item{
        background-color: #e1e6e9;
        border-radius: 25px;
        color: #717989;
        font-size: 12px;
        position: relative;
        text-transform: capitalize;
        min-width: 58px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        height: 26px;
        align-items: center;
        justify-content: space-between;
        margin-left: 14px;
        padding: 5px 21px 0px 10px;
        display: inline-block;
        margin-bottom: 5px;
        font-weight: bold;
    
        .-cross{
            cursor: pointer;
            height: 15px;
            position: absolute;
            text-align: center;
            top: 5px;
            right: 0;
            width: 15px;
            z-index: 1;
            margin-right: 3px;
    
            &::before {
                content: " ";
                display: block;
                background-image: url(https://demo.unbxd.com/static/demo-express/images/close.svg);
                pointer-events: none;
                height: 16px;
                width: 14px;
                background-size: 9px;
                background-repeat: no-repeat;
                background-position: 50%;
            }
        }
    }
}
