.UNX-viewTypes__container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-left: auto;
}

.UNX-viewTypes__list {
    display: flex;
}

.UNX-viewType__wrapper {
    margin-right: 13px;

    button {
        font-size: 22px;
        color: #cdd5d9;
    }
}

.UNX-viewType__wrapper:last-child {
    margin-right: 0;
}

.UNX-viewType__wrapper {
    .UNX-viewType__option {
        color: #cdd5d9;
        font-size: 22px;

        &.-selected {
            color: #687d88;
        }
    }
}
