@tailwind base;
@tailwind components;
@tailwind utilities;

*,
body {
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
}

button {
  outline-color: transparent !important;
  border-radius:1px;
}

body {
  background-color: #f6f6f6;
  margin:0;
  padding:0
}

@import './modules.scss';
