.UNX-slider__container{
    @apply  m-4;
    width:90%;

    .UNX-sliderTrack__container{
        @apply bg-gray-400 h-1 my-3;
        position: relative;
        display:flex;
        align-items:center;
    }
    
    .UNX-slider__thumb{
        @apply bg-green-500 h-3;
        width:12px ;
        position: absolute;
        display:flex;
        align-items:center;
        border-radius:10px;
    }
    
    .UNX-sliderTrack{
        &.-active{
            @apply bg-green-700 h-2;
            position: absolute;
        }
    }
    
    .UNX-sliderRanges__container{
        display: flex;
        justify-content: space-between;
    }
}
